.tm-licenses-form {
    width: 100%;
    height: fit-content;
    padding: 15px 35px;
    .lm-licenses-fields-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 120px);
        grid-row-gap: 0.5em;
        width: 90%;
        grid-column-gap: 1em;
    }
}

.tm-buttons-container {
    display: flex;
    justify-content: space-evenly;
    .tm-buttons-cancel {
        width: 350px;
        height: 50px;
        background: transparent;
        border: 1px solid red;
        color: black;
        border-radius: 8px;
        cursor: pointer;
    }
    .tm-buttons-save {
        width: 350px;
        height: 50px;
        background: aliceblue;
        border: 1px solid black;
        color: black;
        border-radius: 8px;
        cursor: pointer;
    }
}

.tm-buttons-save {
    width: 350px;
    height: 50px;
    background: aliceblue;
    border: 1px solid black;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}