<div class="tm-buttons-container">
    <p class="tm-buttons-container-text">{{'LOGOS.lastUpdate' | translate}} : {{lastUpdate}}</p>
    <button (click)="updatelogos()" [ngClass]="{'tm-buttons-container-active':logosForm.valid, 'tm-buttons-container-inactive': !logosForm.valid}">{{'LOGOS.save'
        | translate}}</button>
</div>
<div class="tm-grid-image-container">
    <!--First logo-->
    <div class="tm-rectangle">
        <p class="tm-size-16 tm-color-tmrigablue tm-raleway-medium-font">{{'LOGOS.lowLevel' | translate}}</p>
        <div class="tm-rectangle-image">
            <ngx-file-drop *ngIf="filePathOne === undefined" dropZoneLabel="{{'LOGOS.dropHere' | translate}}" (onFileDrop)="dropped($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <p class="tm-row-one tm-size-14 tm-color-tmrigablue tm-raleway-semi-bold-font tm-text-align-center">
                        {{'LOGOS.dropHere' | translate}}</p>
                    <p class="tm-row-two tm-text-align-center">{{'LOGOS.or' | translate}}</p>
                    <button [ngClass]="{'tm-button-disabled' : showProgressOne, 'tm-button-enabled': !showProgressOne }" [disabled]="showProgressOne" type="button" (click)="openFileSelector()">
                        <p class="tm-size-14 tm-color-solid-basic-white-style">
                            {{'LOGOS.selectImage' | translate}}
                        </p>
                    </button>
                    <p class="tm-raleway-light-font tm-row-four tm-size-12 tm-color-tmrigablue tm-text-align-center">
                        {{'LOGOS.formatImage' | translate}}</p>
                </ng-template>
            </ngx-file-drop>
            <div class="tm-image-container" *ngIf="filePathOne !== undefined">
                <img src="{{filePathOne}}" alt="">
                <div *ngIf="showFinishedOne" class="tm-image-name">
                    <mat-icon svgIcon="ic-picture-on"></mat-icon>
                    <div class="tm-image-text-cotainer">
                        <p class="tm-size-12 tm-color-tmrigablue tm-raleway-medium-font">{{logoNameOne}}</p>
                    </div>
                    <mat-icon (click)="deleteImageOne()" class="tm-ic-delete" svgIcon="ic-delete"></mat-icon>
                </div>
            </div>
            <div *ngIf="showProgressOne" class="tm-progress-bar-container">
                <p class="tm-size-12 tm-color-tmrigablue">{{'LOGOS.uploading' | translate}} {{progressOne}} %</p>
                <mat-progress-bar mode="determinate" [value]="progressOne">
                </mat-progress-bar>
                <div class="tm-progress-bar-filename">
                    <mat-icon *ngIf="progressOne > 10" svgIcon="ic-picture-start"></mat-icon>
                    <mat-icon *ngIf="progressOne < 10" svgIcon="ic-picture"></mat-icon>
                    <div class="tm-progress-bar-text-cotainer">
                        <p [ngClass]="{'tm-color-solid-basic-white-style' : progressOne > 10, 'tm-color-tmrigablue' : progressOne < 10}" class="tm-size-12 tm-raleway-medium-font">{{logoNameOne}}</p>
                    </div>
                    <mat-icon *ngIf="progressOne === 100" svgIcon="ic-uploaded"></mat-icon>
                </div>
            </div>
        </div>
    </div>
    <!--Second logo-->
    <div class="tm-rectangle">
        <p class="tm-size-16 tm-color-tmrigablue tm-raleway-medium-font">{{'LOGOS.levelOne' | translate}}</p>
        <div class="tm-rectangle-image">
            <ngx-file-drop *ngIf="filePathTwo === undefined" dropZoneLabel="{{'LOGOS.dropHere' | translate}}" (onFileDrop)="droppedTwo($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <p class="tm-row-one tm-size-14 tm-color-tmrigablue tm-raleway-semi-bold-font tm-text-align-center">
                        {{'LOGOS.dropHere' | translate}}</p>
                    <p class="tm-row-two tm-text-align-center">{{'LOGOS.or' | translate}}</p>
                    <button [ngClass]="{'tm-button-disabled' : showProgressTwo, 'tm-button-enabled': !showProgressTwo }" [disabled]="showProgressTwo" type="button" (click)="openFileSelector()">
                        <p class="tm-size-14 tm-color-solid-basic-white-style">
                            {{'LOGOS.selectImage' | translate}}
                        </p>
                    </button>
                    <p class="tm-raleway-light-font tm-row-four tm-size-12 tm-color-tmrigablue tm-text-align-center">
                        {{'LOGOS.formatImage' | translate}}</p>
                </ng-template>
            </ngx-file-drop>
            <div class="tm-image-container" *ngIf="filePathTwo !== undefined">
                <img src="{{filePathTwo}}" alt="">
                <div *ngIf="showFinishedTwo" class="tm-image-name">
                    <mat-icon svgIcon="ic-picture-on"></mat-icon>
                    <div class="tm-image-text-cotainer">
                        <p class="tm-size-12 tm-color-tmrigablue tm-raleway-medium-font">{{logoNameTwo}}</p>
                    </div>
                    <mat-icon (click)="deleteImageTwo()" class="tm-ic-delete" svgIcon="ic-delete"></mat-icon>
                </div>
            </div>
            <div *ngIf="showProgressTwo" class="tm-progress-bar-container">
                <p class="tm-size-12 tm-color-tmrigablue">{{'LOGOS.uploading' | translate}} {{progressTwo}} %</p>
                <mat-progress-bar mode="determinate" [value]="progressTwo">
                </mat-progress-bar>
                <div class="tm-progress-bar-filename">
                    <mat-icon *ngIf="progressTwo > 10" svgIcon="ic-picture-start"></mat-icon>
                    <mat-icon *ngIf="progressTwo < 10" svgIcon="ic-picture"></mat-icon>
                    <div class="tm-progress-bar-text-cotainer">
                        <p [ngClass]="{'tm-color-solid-basic-white-style' : progressTwo > 10, 'tm-color-tmrigablue' : progressTwo < 10}" class="tm-size-12 tm-raleway-medium-font">{{logoNameTwo}}</p>
                    </div>
                    <mat-icon *ngIf="progressTwo === 100" svgIcon="ic-uploaded"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>