.tm-contact-container {
    height: fit-content;
    padding: 150px 25px;
    background: aliceblue;
    opacity: 0.9;
}

.tm-contact-header {
    display: flex;
    mat-icon {
        margin: 0 15px;
    }
    .tm-contact-header-text {
        font-weight: 500;
        font-size: 15px;
        margin: 3px;
    }
}

.tm-contact-body-text {
    font-weight: 300;
    font-size: 12px;
    margin: 15px;
}