<div class="tm-contact-container">
    <div>
        <div class="tm-contact-header">
            <mat-icon svgIcon="ic-location"></mat-icon>
            <p class="tm-contact-header-text">{{'ADDRESS.addressHeader' | translate}}</p>
        </div>
        <p class="tm-contact-body-text">{{'ADDRESS.addressBody' | translate}}</p>
    </div>
    <div>
        <div class="tm-contact-header">
            <mat-icon svgIcon="ic-time"></mat-icon>
            <p class="tm-contact-header-text">{{'ADDRESS.businessHours' | translate}}</p>
        </div>
        <p class="tm-contact-body-text">Calle Reforma S/N, Cuautepec, Guerrero C.P. 41840</p>
    </div>
    <div>
        <div class="tm-contact-header">
            <mat-icon svgIcon="ic-contact"></mat-icon>
            <p class="tm-contact-header-text">{{'ADDRESS.officePhone' | translate}}</p>
        </div>
        <p class="tm-contact-body-text">745-116-2945</p>
    </div>
    <div>
        <div class="tm-contact-header">
            <mat-icon svgIcon="ic-email"></mat-icon>
            <p class="tm-contact-header-text">{{'ADDRESS.emailHeader' | translate}}</p>
        </div>
        <p class="tm-contact-body-text">transito.municipal.cuautepec@gmail.com</p>
    </div>
</div>