<div class="tm-verify-permissions-container">
    <div class="tm-verify-permissions-elements">
        <p class="tm-verify-header-text">{{'VERIFY.verifyPermission' | translate}}</p>
        <div>
            <p class="tm-verify-body-text">{{'VERIFY.bodyPermission' | translate}}</p>
        </div>
        <mat-form-field class="tm-verify-name-inputs" appearance="outline">
            <mat-label>{{'VERIFY.search' | translate}}</mat-label>
            <input type="text" matInput placeholder="{{'VERIFY.search' | translate}}">
        </mat-form-field>
        <button class="tm-verify-button">{{'VERIFY.button' | translate}}</button>
    </div>
</div>