<div class="tm-verify-permissions-container">
    <form [formGroup]="invoiceForm" class="tm-verify-permissions-elements">
        <p class="tm-verify-header-text">{{'VERIFY.verifyPermission' | translate}}</p>
        <div>
            <p class="tm-verify-body-text">{{'VERIFY.bodyPermission' | translate}}</p>
        </div>
        <mat-form-field class="tm-verify-name-inputs" appearance="outline">
            <mat-label>{{'VERIFY.search' | translate}}</mat-label>
            <input formControlName="invoice" type="text" matInput placeholder="{{'VERIFY.search' | translate}}">
        </mat-form-field>
        <button [disabled]="!invoiceForm.valid" (click)="permissionSearch()" class="tm-verify-button">{{'VERIFY.button' | translate}}</button>
    </form>
</div>