.tm-footer {
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 35px 15px;
    height: 120px;
    .tm-social-container {
        display: flex;
        justify-content: space-around;
    }
}