<div class="tm-l-container">
    <h1>Crear Licencia</h1>
    <mat-horizontal-stepper #linear id="stepper">

        <ng-template matStepperIcon="done" let-index="index">
            {{(index+1) * 10}}
        </ng-template>

        <mat-step label="Step 1">
            <p>Step 1</p>
            <button mat-button mat-raised-button color="primary">Complete</button>
        </mat-step>

        <mat-step label="Step 2">
            <h3>Step 2</h3>
            <button mat-button mat-raised-button color="primary">Complete</button>
        </mat-step>

        <mat-step label="Step 3">
            <h3>Step 3</h3>
            <button mat-button mat-raised-button color="primary">Complete</button>
        </mat-step>

    </mat-horizontal-stepper>
</div>